
@media screen and (max-width: 500px) {
  .header a {float: none; display: block; text-align: left;}
  .header-right {float: none;}
}

.modal-backdrop {
  background-color: rgba(0,0,0,.5) !important;
}

/*  MAP  */
#plot {width: 900; height: 700; float: left}
