
@media screen and (max-width: 500px) {
  .header a {float: none; display: block; text-align: left;}
  .header-right {float: none;}
}

.modal-backdrop {
  background-color: rgba(0,0,0,.5) !important;
}

/*  MAP  */
#plot {width: 900; height: 700; float: left}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
